{% extends 'base.html' %}

{% block title %}
<title>Редактировать данные об игре</title>
{% endblock %}

{% block body %}

<h1>Редактировать игру</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form method="POST">
  <table>
    <tr>
      <td>Игра</td>
      <td><input type="text" name="name" value="{{game.name}}"></td>
    </tr>
        <tr>
      <td>Кол-во уровней</td>
      <td><input type="text" name="levels" value="{{game.levels}}"></td>
    </tr>
    <tr>
      <td><a href="{{ url_for('games_table') }}">Вернуться к списку игр</a> </td>
      <td><input type="submit" class="btn btn-primary" value="Редактировать игру"></td>
    </tr>
  </table>
</form>
{% endblock %}